body {
    background-image: url(Img/gif4.gif);
}

/*Começo do site aonde eu coloquei somente a cor de fundo*/
#fundo{
    width: 1420px;
    right: 0px; 
    margin-left: autopx;
    background-attachment: fixed;     
}
#fundo2{
    position: absolute;
    top:0px; 
    left:0px;
    background-attachment: fixed;  

}
#perfil2{
    position:relative; 
    top:10px; 
    left:6px;
    background-attachment: fixed;  
}

/*Começo do site aonde eu coloquei somente a cor de fundo*/
header {
    background-image: linear-gradient(to right, #000000, #72b0f7);
    padding: 05px;
}

/*Cor de fundo e tamanho do quadrado*/
#começo1 {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    top: 10%;
    right: 10%;
}
/* position absolute=colocar na posição 
que eu quero de acordo cm a parte de cima do código
top= espaço acima do elemento
right=posição do texto horizontalmente*/

nav li {

    display: inline;
    margin: 0 0 0 150px;
}
/* display inline= significa ficar tudo na mesma linha*
margin: 0 0 0 15 px= margem igual para todos os lados*/

nav a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
    font-size: 15px;
}

#perfil {
    border: 4px solid #83defa;
    margin: 10px;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-top: 20px;
    margin-left: 10px;

}
Form {
    font-family: arial;
    font-size: 20px;
}


textarea {
    width: 1400px;
    padding: 10px;
    color: black;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
}
input{
    width: 1300px;
    padding: 10px;
    color: black;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;


}

input:hover, textarea:hover, input:focus, textarea:focus {
    
    box-shadow: 5px 0px 9px #00aeff8c;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #ffffff;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

.cancelar {
    background-color: #ffffff;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 300x;
    height: 120px;
    line-height: 20px;
    max-width: 1300px;
}

form label{
    margin-left: 20px;
    color: #a2f7fa;
    font-weight: bold;
}