*{
    margin: 0; /* aqui é para a margem de todo o meu código*/
    position: relative; /* aqui é para deixar a posição do meu código*/
}
body{
    background-image: url(img/fundo\ 3.gif); /* aqui é a imagem de fundo*/
    background-repeat: no-repeat; /* aqui é para a imagem não se repetir*/
    background-attachment: fixed; /*aqui é para deixar a imagem fixada ao fundo*/
    background-size: cover; /* aq,ui é para se ajustar ao tamanho*/
    image-resolution: 2000%; /* aqui já é para resolução da imagem*/
}

header { /*Cabeçalho*/
    background-image: linear-gradient(to right,  #000000, #002b7c); /* aqui é para deixar o retangulo em cor gradiente*/
    padding: 20px; /* tamanho do meu retangulo*/
}

/* menu*/ 

nav { /* este nav é para agrupa uma lista de links */
    top: 10%; /* alinhamento para cima*/
    right: 10%; /* alinhamento a direita*/    
}
nav a { /* colocamos o A por conta do hiperlink*/
    display: inline; /* é para deixar em formato de linha porém dentro do retangulo*/
    margin: 0 0 0 200px; /* aqui é para deixar um do lado do outro*/
}

#menu a { /* colocamos o A por conta do hiperlink*/
    text-transform: uppercase; /* formato da letra*/
    color: rgb(255, 255, 255); /* cor da letra*/
    font-weight: bold; /* negrito*/
    font-size: 20px; /* tamanho*/
    text-decoration: none; /* deixar sem sublinhado*/
}

#menu a:hover { /* este hover é para movimento no texto*/
    color: rgb(110, 200, 252);  /* cor*/
    font-size: 15px; /* tamanho do texto no movimento*/
}
.quadrado{
    background-color: rgb(0, 0, 0);
    width: 800px;
    height: 450px;
    border: solid 3px rgb(255, 255, 255);
    position: absolute;
    margin-top: 10px;
    margin-left: 300px;
    border-radius: 05px;
    opacity: 60%;
}
#titulo{
    top: 40px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
#imagens{
    display: inline;
    margin: 0 0 0 20px;
}

#Facebook{
    height: 75px;
    width: 80px;
}
#Insta{
    height: 80px;
    width: 80px;
}
#Whats{
    height: 80px;
    width: 80px;
}
#linkedin{
    height: 80px;
    width: 80px;
}
#gmail{
    height: 60px;
    width: 80px;

}
#Facebook:hover,
#Insta:hover,
#Whats:hover,
#linkedin:hover,
#gmail:hover {
    transform: scale(1.3); 
    box-shadow: 0 0 20px rgb(255, 255, 255); 
}
#Facebook:hover,
#Insta:hover,
#Whats:hover,
#linkedin:hover {
    margin: 05px;
}
#email{
    top: 05px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    color: rgb(145, 147, 236);
    font-size: 30px;
}
.direitos{
    top: 500px; /* aqui é para deixar o texto mais no centro*/
    color:#ffffff; /* cor*/
    font-size: 08px; /* tamanho da letra*/
    font-weight: bold; /* negrito*/ 
    text-align: center; /* deixar o texto no centro*/
}
